# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Diretórios de build
dist/
build/
.cache/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Diretórios de editores
.vscode/
.idea/

# Testes
coverage/
.nyc_output/

# Arquivos temporários
*.swp
*.swo
*.bak
*.tmp
